body {
    display: flex;
    box-sizing: border-box;
    flex-direction: column;
    margin: 0;
    padding: 0;
    font-family: Roboto;
}

* {
    font-family: Roboto;
}

.nav {
    display: flex;
    height: 70px;
    background-color: #1f2937;
    align-items: center;
    justify-content: space-between;
    color: white;
    padding: 0 200px;
}

h6 {
    font-weight: bold;
    font-size: 18px;
    margin: 0;
}

.nav .links {

    display: flex;
    gap: 20px;
    font-weight: 200;
    
}

.links:hover {
    cursor: pointer;
}

.hero {
    display: flex;
    height: 300px;
    background-color: #1f2937;
    color: white;
    padding: 50px 200px;
    align-items: center;
    justify-content: space-between;
}

h1 {
    margin: 0;
}

.heroText {
    margin: 5px 0 10px;
}

.signUp {
    background-color: #db63ff;
    padding: 5px 15px;
    border: #5606bd solid 2px;
    border-radius: 8px;
    color: white;
}

.heroImg {
    width: 300px;
}

.Sec {
    display: flex;
    height: 350px;
    flex-direction: column;
    align-items: center;
}

.Benefits {
    display: flex;
    width: 700px;
    margin-top: 10px;
    gap: 10px;
}


.Benefits .Feature {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 200px;
}

.Icon {
    width: 50px;
}

.TSec {
    display: flex;
    background-color: #e5e7eb;
    height: 350px;

}

.Testimonial {
    font-size: 24px;
    font-style: italic;
    color: #1F2937;
    margin-bottom: 0;
}

.Container {
    display: flex;
    width: 600px;
    margin: auto;
    flex-direction: column;

}

.ctaSec {
    display: flex;
    height: 300px;
 
}

.CTA {
    display: flex;
    margin: 90px 300px;
    background-color: #db63ff;
    border-radius: 5px;
    justify-content: space-between;
   flex: 1;
}

.Text {
    display: flex;
    flex-direction: row;
    line-height: 5px;
    align-items: center;
    flex: 1;
    
}

.higher {
margin-bottom: 0;
    font-size: 17px;
    font-weight: 700;
}

.P {
    display: flex;
    flex-direction: column;
    color: white;
    width: 400px;
    margin-left: 200px;

}

.Book {
    border-radius: 5px;
    background-color: #db63ff;
    border: 2px solid white;
    color: white;
    padding: 5px 10px;
}

.Book:Hover{
    cursor: pointer;
}